.productSearch {
    margin-top: 5%;
}

.searchAlert {
    margin-top: 2%;
    text-align: center;
}

.loader {
    margin-left: 1rem;
}

.searchButton {
    background-color: #3C6020 !important;
    color: white !important;
}