.productInfo {
    margin-top: 5%;
}


.productDetailButton {
    background-color: #5B8C2A !important;
    color: white !important;
    margin-bottom: 1rem !important;
}

.productDetailsDiv {
    height: 300px;
    margin-bottom: 1.5rem;
}

.productRecommendation {
    height: 400px;
    margin-bottom: 1.5rem;
}


.productDetailsDiv, .productRecommendation {
    overflow-y: scroll;
}
