.productInfo {
    margin-top: 5%;
}


.productDetailButton {
    background-color: #D8D8F6 !important;
    color: black !important;
    margin-bottom: 1rem !important;
}

.productDetailsDiv {
    height: 300px;
    margin-bottom: 1.5rem;
    overflow-y: scroll;
}
